
lab1/.vs/lab1/DesignTimeBuild/

lab1/.vs/lab1/v16/

lab1/lab1/obj/Debug/netcoreapp2.1/

lab1/lab1/bin/Debug/netcoreapp2.1/

lab1/lab1/obj/

lab1_v4/lab1_v4/obj/

*.csproj

lab1_v4/.vs/lab1_v4/v16/

lab1_v4/.vs/lab1_v4/DesignTimeBuild/.dtbcache

lab1_v4/lab1_v4/bin/Debug/netcoreapp2.1/

lab1_v4/lab1_v4/bin/Debug/netcoreapp3.1/
